<div class="ham-map-wrapper">
  <div class="info-block-1">{{ info_blocks[1]|raw }}</div>
  {{ form }}
  <div class="info-block-2"{% if not view %} style="display: none;"{% endif %}>{{ info_blocks[2]|raw }}</div>
  <div class="map-container" style="display: none;"></div>
</div>
