{#
/**
 * @file ham_station.html.twig
 * Default theme implementation to present Amateur Radio Station data.
 *
 * This template is used when viewing Amateur Radio Station pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ham_station()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ham_station') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
